polkit.addRule(function(action, subject) {
    if (subject.user !== "cryptogotchi") {
        return polkit.Result.NOT_HANDLED;
    }
    var allowed = [
        "org.freedesktop.NetworkManager.network-control",
        "org.freedesktop.NetworkManager.enable-disable-network",
        "org.freedesktop.NetworkManager.enable-disable-wifi",
        "org.freedesktop.NetworkManager.wifi.scan",
        "org.freedesktop.NetworkManager.settings.modify.own",
        "org.freedesktop.NetworkManager.settings.modify.system"
    ];
    if (allowed.indexOf(action.id) >= 0 || action.id.indexOf("org.bluez.") === 0) {
        return polkit.Result.YES;
    }
    return polkit.Result.NOT_HANDLED;
});
